/* MathJax Context Menu Styles */
.CtxtMenu_InfoClose {
  top: .2em;
  right: .2em;
}

.CtxtMenu_InfoContent {
  overflow: auto;
  text-align: left;
  font-size: 80%;
  padding: .4em .6em;
  border: 1px inset;
  margin: 1em 0px;
  max-height: 20em;
  max-width: 30em;
  background-color: #EEEEEE;
  white-space: normal;
}

.CtxtMenu_Info.CtxtMenu_MousePost {
  outline: none;
}

.CtxtMenu_Info {
  position: fixed;
  left: 50%;
  width: auto;
  text-align: center;
  border: 3px outset;
  padding: 1em 2em;
  background-color: #DDDDDD;
  color: black;
  cursor: default;
  font-family: message-box;
  font-size: 120%;
  font-style: normal;
  text-indent: 0;
  text-transform: none;
  line-height: normal;
  letter-spacing: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  float: none;
  z-index: 201;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -khtml-border-radius: 15px;
  box-shadow: 0px 10px 20px #808080;
  -webkit-box-shadow: 0px 10px 20px #808080;
  -moz-box-shadow: 0px 10px 20px #808080;
  -khtml-box-shadow: 0px 10px 20px #808080;
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=2, OffY=2, Color="gray", Positive="true");
}

.CtxtMenu_MenuClose {
  position: absolute;
  cursor: pointer;
  display: inline-block;
  border: 2px solid #AAA;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -khtml-border-radius: 18px;
  font-family: "Courier New", Courier;
  font-size: 24px;
  color: #F0F0F0;
}

.CtxtMenu_MenuClose span {
  display: block;
  background-color: #AAA;
  border: 1.5px solid;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -khtml-border-radius: 18px;
  line-height: 0;
  padding: 8px 0 6px;
}

.CtxtMenu_MenuClose:hover {
  color: white !important;
  border: 2px solid #CCC !important;
}

.CtxtMenu_MenuClose:hover span {
  background-color: #CCC !important;
}

.CtxtMenu_MenuClose:hover:focus {
  outline: none;
}

.CtxtMenu_Menu {
  position: absolute;
  background-color: white;
  color: black;
  width: auto;
  padding: 5px 0px;
  border: 1px solid #CCCCCC;
  margin: 0;
  cursor: default;
  font: menu;
  text-align: left;
  text-indent: 0;
  text-transform: none;
  line-height: normal;
  letter-spacing: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  float: none;
  z-index: 201;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  box-shadow: 0px 10px 20px #808080;
  -webkit-box-shadow: 0px 10px 20px #808080;
  -moz-box-shadow: 0px 10px 20px #808080;
  -khtml-box-shadow: 0px 10px 20px #808080;
}

.CtxtMenu_MenuItem {
  padding: 1px 2em;
  background: transparent;
}

.CtxtMenu_MenuArrow {
  position: absolute;
  right: .5em;
  padding-top: .25em;
  color: #666666;
  font-family: null;
  font-size: .75em;
}

.CtxtMenu_MenuActive .CtxtMenu_MenuArrow {
  color: white;
}

.CtxtMenu_MenuArrow.CtxtMenu_RTL {
  left: .5em;
  right: auto;
}

.CtxtMenu_MenuCheck {
  position: absolute;
  left: .7em;
  font-family: null;
}

.CtxtMenu_MenuCheck.CtxtMenu_RTL {
  right: .7em;
  left: auto;
}

.CtxtMenu_MenuRadioCheck {
  position: absolute;
  left: .7em;
}

.CtxtMenu_MenuRadioCheck.CtxtMenu_RTL {
  right: .7em;
  left: auto;
}

.CtxtMenu_MenuInputBox {
  padding-left: 1em;
  right: .5em;
  color: #666666;
  font-family: null;
}

.CtxtMenu_MenuInputBox.CtxtMenu_RTL {
  left: .1em;
}

.CtxtMenu_MenuComboBox {
  left: .1em;
  padding-bottom: .5em;
}

.CtxtMenu_MenuSlider {
  left: .1em;
}

.CtxtMenu_SliderValue {
  position: absolute;
  right: .1em;
  padding-top: .25em;
  color: #333333;
  font-size: .75em;
}

.CtxtMenu_SliderBar {
  outline: none;
  background: #d3d3d3;
}

.CtxtMenu_MenuLabel {
  padding: 1px 2em 3px 1.33em;
  font-style: italic;
}

.CtxtMenu_MenuRule {
  border-top: 1px solid #DDDDDD;
  margin: 4px 3px;
}

.CtxtMenu_MenuDisabled {
  color: GrayText;
}

.CtxtMenu_MenuActive {
  background-color: #606872;
  color: white;
}

.CtxtMenu_MenuDisabled:focus {
  background-color: #E8E8E8;
}

.CtxtMenu_MenuLabel:focus {
  background-color: #E8E8E8;
}

.CtxtMenu_ContextMenu:focus {
  outline: none;
}

.CtxtMenu_ContextMenu .CtxtMenu_MenuItem:focus {
  outline: none;
}

.CtxtMenu_SelectionMenu {
  position: relative;
  float: left;
  border-bottom: none;
  -webkit-box-shadow: none;
  -webkit-border-radius: 0px;
}

.CtxtMenu_SelectionItem {
  padding-right: 1em;
}

.CtxtMenu_Selection {
  right: 40%;
  width: 50%;
}

.CtxtMenu_SelectionBox {
  padding: 0em;
  max-height: 20em;
  max-width: none;
  background-color: #FFFFFF;
}

.CtxtMenu_SelectionDivider {
  clear: both;
  border-top: 2px solid #000000;
}

.CtxtMenu_Menu .CtxtMenu_MenuClose {
  top: -10px;
  left: -10px;
}

